<div class="mt-4">
  <h3>SignUp</h3>
  <form method="POST" action="/signup/store">
    <div class="form-group">
      <label for="description">Ten dang nhap</label>
      <input type="text" class="form-control" id="description" name="name" />
    </div>
    <div class="form-group">
      <label for="description">Mat khau</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tao tai khoan</button>
  </form>
</div>